.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loader {
    width: 140px;
}

.dots {
    font: var(--font-l);
    display: inline-block;
    text-align: center;
}

.dots::after {
    content: "";
    display: inline-block;
    animation: dots-animation 0.9s infinite;
}

@keyframes dots-animation {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}